body {
	margin:0;
	padding:0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#bannerimage {
	width: 100%;
	background-image: url(https://hwpi.harvard.edu/files/styles/os_files_xxlarge/public/commencement/files/hc-017_-_copy.jpg);
	height: 500px;
	background-position: center;
}

h1, h3, p {
	text-align: center;
}

h1 {
	font-size:52px;
	margin-top:0;	
}

section {
	margin:0;
}

.blurb-row {
	height: 200px;
	background-color: #ed1b34;
}

.center-blurb {
	display: flex;
	align-items: center;
	justify-content: center;
}

#section-1 h1 {
	margin-top:50px;
	color: #ed1b34;
}

#section-1 h3 {
	margin-bottom:100px;
}

#section-1{
	height: 100vh;
}

#section-2 p {
	margin-top:150px;
	margin-bottom:150px;
	font-size:14px;
	line-height:32px;
}

#section-3 p {
	margin-top:50px;
	margin-bottom:100px;
	font-size:14px;
	line-height:32px;
	background-color: rgba(255,255,255,.5);
    border-radius: 10px;
	margin-top:100px;
	float:left;
}

#network-graph {
	height: 700px;
}

#word-frequency-chart {
	height: 800px;
	width: 30%; /* more? */
}

#click-facts-adjacency-matrix {
	font: 13px sans-serif;
	background: lightgoldenrodyellow;
	width: 200px;
	height: 130px;
}

#researchInterestsTooltip {
	width: 400px;
}

#researchInterestsTooltip p {
	font-size: 11px;
	padding: 0px;
}

#groupTooltip, #networkTooltip {
	width: 400px;
}

#groupTooltip p, #networkTooltip p {
	font-size: 11px;
	padding: 0px;
}

#groupTooltip h2 {
	font-size: 25px;
	padding-bottom: 20px;
}

#groupTooltip img {
	width: 30px;
	height: 45px;
}

#faculty-dots .label-circle-text {
	font-size: 10px;
}



#relationship-section {
	margin-top: 5px;
	margin-bottom: 5px;
}

rect {
	cursor: pointer;
}

.label {
	fill: white;
	font-family: sans-serif;
	pointer-events: none;
}

.link {
	fill: none;
	stroke-width: 1px;
}

.activeFaculty {
	fill: #ed1b34;
	stroke: #ed1b34;
}

.activeLink {
	fill: none;
	stroke-width: 5px;
}

.repressNode {
	fill: #CCC;
}

.repressLink {
	stroke: #CCC;
	stroke-width: 1px;
}

#faculty-adj-matrix .colorscale-label {
	font-size: 10px;
}

#faculty-adj-matrix .matrix-column-labels {
	font-size: 9px;
}

#faculty-adj-matrix .matrix-row-labels {
	font-size: 9px;
}

#word-frequency-chart .axis-label {
	font-size: 12px;
}

#word-frequency-chart .bar-title {
	font-size: 13px;
}

#word-frequency-chart .subtitle-top {
	font-size: 11px;
}

#word-frequency-chart .subtitle-bottom {
	font-size: 9px;
}

#faculty-interest-table .matrix-row-labels {
	font-size: 10px;
}

#faculty-interest-table .matrix-column-labels {
	font-size: 9px;
}

/*the container must be positioned relative:*/
.autocomplete {
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}

input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}

input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}

input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}